DEBUG_MODE=False
# run this to generate the key:- python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
DJANGO_SECRET_KEY=Django-secret-Key
# go to https://console.cloud.google.com/auth/clients and creat a new app and download the json file
# in Add Authorized Redirect URIs add https://yourdomain.com/accounts/google/login/callback/
GOOGLE_CLIENT_ID=1234*************************.apps.googleusercontent.com
GOOGLE_SECRET=GO***********************fhd
EMAIL_ADDRESS=YourGmail@gmail.com
# go to https://myaccount.google.com/u/9/apppasswords and add a new app and copy the password
EMAIL_PASSWORD=abcdefgh****
