{% extends "account/base_account.html" %}
{% load i18n account allauth %}
{% block page_title %}
    {% trans "Set Password" %}
{% endblock page_title %}
{% block account_title %}
    {% trans "Set Password" %}
{% endblock account_title %}
{% block account_subtitle %}
    {% trans "Please set a password for your account." %}
{% endblock account_subtitle %}
{% block account_content %}
    {% url 'account_set_password' as action_url %}
    <form class="auth_form" method="post" action="{{ action_url }}">
        {% csrf_token %}
        {{ redirect_field }}
        {% for field in form %}
            <div class="form_group">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button class="auth_btn" type="submit" name="action">{% trans 'Set Password' %}</button>
    </form>
{% endblock account_content %}
