{% extends "account/base_account.html" %}
{% load i18n allauth account %}
{% block page_title %}
    {% trans "Password Reset" %}
{% endblock page_title %}
{% block account_title %}
    {% trans "Password Reset" %}
{% endblock account_title %}
{% block account_subtitle %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
{% endblock account_subtitle %}
{% block account_content %}
    {% url 'account_reset_password' as reset_url %}
    <form class="auth_form"
          id="password_reset_form"
          method="post"
          action="{{ reset_url }}">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <ul class="errorlist">
                {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            <div class="form_group">
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
                {% if field.help_text %}<div class="help_text">{{ field.help_text|safe }}</div>{% endif %}
            </div>
        {% endfor %}
        {{ redirect_field }}
        <button class="auth_btn" type="submit">{% trans 'Reset My Password' %}</button>
    </form>
{% endblock account_content %}
{% block account_extra_actions %}
    <p style="text-align: center;
              margin-top: 16px;
              font-size: 0.9rem;
              color: var(--text-muted)">
        {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
    </p>
{% endblock %}

