{% extends "account/base_account.html" %}
{% load i18n account allauth %}
{% block page_title %}
    {% trans "Change Phone" %}
{% endblock page_title %}
{% block account_title %}
    {% trans "Change Phone" %}
{% endblock account_title %}
{% block account_content %}
    {% url 'account_change_phone' as action_url %}
    <form class="auth_form" method="post" action="{{ action_url }}">
        {% csrf_token %}
        {% if phone %}
            <div class="form_group" style="margin-bottom: 15px;">
                <label style="color: var(--text-secondary);
                              display: block;
                              margin-bottom: 5px">{% trans "Current phone" %}:</label>
                <input class="form_input"
                       type="tel"
                       value="{{ phone }}"
                       disabled
                       style="opacity: 0.6;
                              cursor: not-allowed">
                {% if not phone_verified %}
                    <p style="font-size: 0.8em;
                              color: var(--text-secondary);
                              margin-top: 5px">
                        {% blocktranslate %}Your phone number is still pending verification.{% endblocktranslate %}
                    </p>
                    <button form="verify-phone"
                            type="submit"
                            class="auth_btn"
                            style="padding: 5px 10px;
                                   font-size: 0.85em;
                                   margin-top: 10px">{% trans 'Re-send Verification' %}</button>
                {% endif %}
            </div>
        {% endif %}
        <div class="form_group">
            <label style="color: var(--text-secondary);
                          display: block;
                          margin-bottom: 5px">{% trans "Change to" %}:</label>
            {{ form.phone }}
            {% if form.phone.errors %}
                <ul class="errorlist">
                    {% for error in form.phone.errors %}<li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </div>
        <button class="auth_btn" type="submit" name="action_add">{% trans "Change Phone" %}</button>
    </form>
    {% if not phone_verified %}
        <form style="display: none"
              id="verify-phone"
              method="post"
              action="{{ action_url }}">
            {% csrf_token %}
            <input type="hidden" name="action" value="verify">
        </form>
    {% endif %}
{% endblock account_content %}
